@media only screen and (max-width: 1350px) {
    .bookImg{
        right: 5%;
        bottom: 2;
    }
    .form{
        left: -12%;
    }
      }
@media only screen and (max-width: 850px) {
    body{
       zoom:initial;
    }
    .DesktopNav{
        display:none;
    }
    .Dwn-Section{
        height: 600px;
        margin-bottom: 320px;
    }
    .bookImg{
        right: 20%;
        bottom: 2;
    }
    .form{
        position: relative;
        left:10px;
        top: 370px;
        font-size:larger;
    }
    .cards{
        height: 750px;
    }

    @media only screen and (max-width: 600px) {
        #root{
            width: min-content;
        }

    
      }
  }
